:root {

  --secondary-text-color: #42a4f4;
  --secondary-text-color-hover: rgba(176, 219, 255, 0.3);
  --secondary-light-test: rgba(104, 144, 177, 0.75);
  --color-base-error: #ffe4e4;
  --color-text-error: #ff0000;
  --color-text-success: #5ccc3d;
  --color-text-warning: #f29c24;
  --color-text-danger: #e62e2e;


  --light-grey: #ddd;
  --pir-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15), -4px -4px 10px rgba(0, 0, 0, 0.1);
  --pir-color-link: #0070CD;
  --light-background-color: #fafafa;
  --action-button-hover: #cd6c0e;
  --action-button-color: #F58A0E;
  --pir-main-text-color: #292C2E;
  --pir-hover-link: #F4F5EC;
  --pir-touch-down: #F4F5EC;
  --pir-accardion-bg: #9BC6E9;
  --pir-tab-color: #DA221B;
  --pir-hover-link-secondary: #F8EBEA;
  --pir-background-gradient: linear-gradient(169.37deg, #00467F 39.08%, #001C33 94.86%);
  --pir-owl-carousel-active-dot: #7fc6ff;
  --pir-new-primary-color:  #183D68;
  --pir-primary-color:  #00467F;
  --pir-hover-menu-bg: #EAF4FE;
  --pir-mega-menu-color-text: #0F1011;
  --pir-main-text-new: #292C2E;
  --pir-main-background: #ddd;
  --pir-dot-color: #BDCAD7;
  --pir-services-bottom-bg: #FACF9E;
  --pir-gridlines-color: #EDF0F3;
  --pir-label-color: #767C82;
  --pir-orange-light: #FACF9E;
  --pir-orange-dark: #EC6600;
  --pir-light-gray-background: #F2F2F2;
  --pir-primary-dark-new: #0E2540;
  --pir-facts-backgraund: #DBE6EF;
  --pir-card-color: #EEF6FC;
  --pir-cookie-message: #D7E6F4;
  --pir-menu-choosen: #BECEDE;
  --pir-orange-super-light: #FEFAF5;
  --pir-orange-card: #FDECD8;


}
