.pir-divider{
  &__wrap{
    position: relative;
    justify-content: center;
    display: flex;
    padding: rem(30) 0;
  }
  &__item{
    height: rem(8);
    width: rem(8);
    border-radius: 50%;
    margin-right: rem(24);
    background: var(--pir-main-background);
    &:last-child{
      margin-left: 0;
    }
  }
}