.pir-document{
  width: 100%;
  background: var(--light-background-color);
  padding-bottom: rem(65);
  @include media-breakpoint-down(sm){
    padding: rem(0) rem(16) rem(50) rem(16);
    background: #fff;
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(sm){
      flex-wrap: wrap;
    }
  }
  &__item{

    width: 50%;
    padding-right: rem(40);
    @include media-breakpoint-down(sm){
      padding: 0;
      margin-bottom: rem(50);
      display: flex;
      flex-wrap: wrap;
    }
    &:last-child{
      padding-left: rem(40);
      padding-right: 0;
      @include media-breakpoint-down(sm){
        padding: 0;
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-down(sm){
      width: 100%;
    }
  }
  &__title{
    font-family: $title-font;
    color: var(--pir-primary-color);
    font-weight: normal;
    margin-bottom: rem(40);
    @include media-breakpoint-down(sm){
      text-align: center;
      font-size: 24px;
      line-height: 30px;
      width: 100%;
    }
  }
  &__list{
    list-style: none;
    padding: 0;
    margin-bottom: rem(50);
    @include media-breakpoint-down(sm){
      margin-bottom: rem(10);
    }
    li{
      margin-bottom: rem(20);
      @include media-breakpoint-down(sm){
        margin-bottom: rem(30);
      }
      a{
        display: inline-flex;
        align-items: flex-start;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        color: var(--pir-main-text-color);
        transition: 200ms ease;
        @include media-breakpoint-down(sm){
          line-height: 25px;
          align-items: center;
        }
        &:hover{
          color: #0056b3;
          transition: 200ms ease;
        }
        img{
          margin-right: rem(12);
          @include media-breakpoint-down(sm){
            height: rem(25);
            object-fit: contain;
          }
        }
      }
    }
  }
  .pir-btn{
    @include media-breakpoint-down(sm){
      margin: 0 auto;
    }
  }
}