.pir-el-services {
  position: relative;
  width: 100%;
  background: var(--pir-new-primary-color);
  padding: rem(60) 0;
  color: #fff;
  background: linear-gradient(156.49deg, rgba(0, 0, 0, 0) 49.99%, rgba(0, 0, 0, 0.8) 100%), #183D68;

  @include media-breakpoint-down(sm) {
    padding-bottom: rem(350);
    padding-top: rem(50);
  }

  .pir-title {
    color: #fff;
    padding-top: 0;
    line-height: rem(53);
    @include media-breakpoint-down(sm) {

      display: block;
      padding: 0;
      margin-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(30);

    &:nth-child(even) {
      flex-direction: row-reverse;
      @include media-breakpoint-down(sm) {

        img {
          display: none;
        }
        .pir-el-services__list {
          justify-content: flex-start;
          @include media-breakpoint-down(sm) {
            flex-direction: column;
            margin-right: auto;
            margin-left: 0;
            .pir-el-services__title {
              text-align: left;
            }
          }

          ul {
            text-align: left;

            li {
              justify-content: flex-start;
            }
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;

      .pir-el-services__list {
        .pir-btn {
          @include media-breakpoint-down(sm) {
            margin-left: auto;
          }
        }

        ul li {
          @include media-breakpoint-down(sm) {
            padding-right: rem(14);
            &:after {
              display: none;

            }
            &:before {
              content: '';
              position: absolute;
              right: 0;
              height: 6px;
              width: 6px;
              border-radius: 50%;
              transform: translateY(-50%);
              top: 50%;
              background: var(--action-button-color);
            }
          }

        }
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
      .pir-el-services__list {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        flex-wrap: wrap;
        justify-content: flex-end;
        text-align: right;

        ul li {
          justify-content: flex-end;
        }
      }
    }

  }

  &__img {
    max-width: rem(460);

    img {
      object-fit: contain;
    }

    @include media-breakpoint-down(lg) {
      max-width: rem(360);
    }
    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 50px;
      left: 50%;
      width: 100%;
      max-height: rem(360);
      transform: translateX(-50%);
    }
  }

  &__list {
    text-align: inherit;

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      list-style: none;
      flex-wrap: wrap;
      margin-bottom: rem(24);

      li {
        display: inline-flex;
        align-items: center;
        position: relative;
        font-size: rem(16);
        line-height: rem(24);
        margin-left: rem(10);
        padding-left: rem(10);
        margin-bottom: rem(11);
        font-weight: normal;
        @include media-breakpoint-down(sm) {
          margin-left: 0;
          align-items: flex-start;
          padding: 0;
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 8px;
          padding-left: rem(14);
        }

        &:after {
          content: '';
          position: absolute;
          left: rem(-10);
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background: var(--action-button-color);
          @include media-breakpoint-down(sm) {
            transform: translateY(-50%);
            top: 50%;
            left: 0;
          }
        }
      }
    }

    .pir-btn {
      @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.03em;
        padding: 11px 24px;
      }
    }
  }

  &__title {
    font-family: $title-font;
    font-weight: normal;
    font-size: rem(30);
    line-height: rem(36);
    margin-bottom: rem(30);
    @include media-breakpoint-down(sm) {
      font-size: rem(26);
      line-height: rem(31);
    }
    @include media-breakpoint-down(lg) {

    }

  }

  &__mob-block {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
      padding: 75px 0;
      background: var(--pir-light-gray-background);
    }
  }
}