.pir-video{
  padding: rem(70) 0;
  &__title{
    font-family: $title-font;
    font-size: rem(30);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--pir-new-primary-color);
    margin-bottom: rem(50);
  }
  &__text{
    p{
      display: block!important;
      font-size: rem(18);
      font-style: normal;
      font-weight: 400;
      line-height: rem(28);
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__btn{
    margin-top: rem(59);
    font-size: rem(14);
    font-style: normal;
    font-weight: 600;
    line-height: rem(0); /* 100% */
    letter-spacing: 0.42px;
    text-transform: uppercase;
    border: none;
    //margin-top: rem(59);
  }
  &__wrap{
    display: flex;
    flex-wrap: nowrap;
    @include media-breakpoint-down(sm){
      flex-wrap: wrap;
    }
  }
  &__left{
    width: calc(100% - 308px);
    padding-right: rem(90);
    @include media-breakpoint-down(lg){
      p{
        display: block;
      }
      margin-right: rem(20);
      width: 100%;
      padding-right: 0;
      iframe{
        width: 100%!important;
      }
    }
    @include media-breakpoint-down(sm){
      p{
        display: block;
      }
      margin-right: rem(0);
      iframe{
        height: rem(240);
      }
    }
  }
  &__video{
    p{
      display: block!important;
    }
  }
  &__right{
    width: 308px;
    @include media-breakpoint-down(sm){
      width: 100%;
    }
  }
}
.video-test{
  border-radius: rem(8)!important;
}