.pir-search-site {

  position: absolute;
  right: 0;
  top: 0;
  display: none;
  &__title{
    font-family: $title-font;
    font-weight: 500;
    color: var(--pir-new-primary-color);
    font-size: rem(44);
    line-height: rem(53);
    padding-top: rem(40) ;
    @include media-breakpoint-down(sm){
      font-size: rem(35);
    }
  }
  &__wrap-news{
    display: block;
    padding: rem(30) 0;
    border-bottom: 1px solid var(--pir-main-background);
    &:last-child{
      border-bottom: none;
    }
    p{
      color: var(--pir-main-text-color);
      font-weight: 400;
      font-size: rem(18);
      line-height: rem(28);
      margin: 0;
    }
  }
  &__title-h3{
    font-family: $title-font;
    font-weight: 400;
    font-size: rem(30);
    line-height: rem(36);
    color: var(--pir-new-primary-color);
    margin-bottom: rem(12);
    .search_expt{
      color: var(--action-button-color);
      font-weight: 400;
    }
  }
  &__label{
    padding: rem(4) rem(8);
    border: rem(1) solid var(--pir-new-primary-color);
    font-weight: 400;
    font-size: rem(12);
    line-height: rem(16);
    color: var(--pir-new-primary-color);
    margin-right: rem(15);
    border-radius: rem(3);
  }
 &__footer{
   display: flex;
   margin-top: rem(12);
   align-items: center;
 }
  &__btn {
    height: rem(20);
    width: rem(20);
    background: url("../img/icons/searh-l.svg") no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    margin: 0 rem(30);

    &:focus {
      outline: none;
    }
  }
  &__btn-desk{
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  &__btn-mob{
    display: none;
    @include media-breakpoint-down(sm){
      display: block;
    }
  }

  &__wrap {
    right: 0;
    top: 0;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: rem(15);
    width: rem(452);
    overflow: hidden;
    background: #fff;
  }
  &__close{
    position: absolute;
    right: rem(14);
    top: rem(10);
    cursor: pointer;
  }

  .searchandfilter {
    ul {
      position: relative;
      padding-left: rem(36);
      //padding-top: rem(14);

      &:after {
        content: '';
        position: absolute;
        left: rem(14);
        height: rem(14);
        width: rem(14);
        background: url("../img/icons/search-s.svg");
        top: 50%;
        transform: translateY(-50%);

      }

      li {
        padding: 0;

        label {
          width: 100%;
        }

        button {
          display: none;
        }

        input {
          border: none;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          width: 100%;
          color: var(--pir-mega-menu-color-text);
          &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
          }
        }
      }
    }

  }

  &__link-wrap {
    padding: rem(14);
    padding-bottom: rem(10);
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    a {
      padding: rem(6);
      border-radius: rem(8);
      background: var(--pir-gridlines-color);
      margin-right: rem(4);
      margin-bottom: rem(4);
      font-weight: 400;
      font-size: rem(12);
      line-height: rem(16);
      color: var(--pir-new-primary-color);
    }
  }
}
.pir-search-site-mob{
  z-index: 9990;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  left: -100%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  &__header{
    display: flex;
    padding: rem(16) rem(15);
    background: var(--pir-new-primary-color);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(0, 0, 0, 0.12);
    span{
      margin: 0 auto;
      font-weight: 600;
      font-size: rem(16);
      line-height: rem(22);
      letter-spacing: 0.1em;
      color: #fff;
    }
  }
  &__close{
  border: none;
    width: rem(16);
    height: rem(16);
    background: url("../img/icons/close-search-w.svg") no-repeat ;
    background-size: contain;
    color: #fff;
    outline: none;
    &:focus{
      outline: none;
    }
  }
  &__title{
    font-family: $title-font;
    color: var(--pir-new-primary-color);
    font-weight: 400;
    font-size: rem(18);
    line-height: rem(22);
    margin-top: rem(24);
    margin-bottom: rem(24);
  }
  &__fast-link{
    display: flex;
    flex-wrap: wrap;
    a{
      display: inline-block;
      padding: rem(6);
      background: var(--pir-gridlines-color);
      color: var(--pir-new-primary-color);
      border-radius: rem(8);
      font-size: rem(12);
      line-height: rem(16);
      margin-bottom: rem(4);
      margin-right: rem(4);
    }
  }
  &__icon{
    position: absolute;
    height: rem(15);
    width: rem(15);
    left: rem(12);
    top: 50%;
    transform: translateY(-50%);
  }
  &__search{
    position: relative;
    margin-top: rem(24);
    ul{
      padding: 0;
    }
    .sf-field-search{
      padding: 0;
      label{
        width: 100%;
      }
      input{
        padding-left: rem(40);
        width: 100%;
        border: 1px solid var(--pir-main-background);
        border-radius: rem(24);
        height: rem(36);
        display: flex;
        align-items: center;
        font-size: rem(12);
        line-height: rem(0);
        &::placeholder{
          color: var(--pir-label-color);
          font-size: rem(12);
          line-height: rem(0);
        }
      }
    }

    button{
      display: none;
    }
  }

}