.video{
  display: flex;
  &__item{
    cursor: pointer;
    max-width: rem(400);
    margin-right: rem(100);
    &:last-child{
      margin-right: 0;
    }
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  &__preview{

  }
  &__desk{
    display: block;
    font-size: rem(17);
    margin-top: rem(15);
    margin-bottom: 0;
    line-height: rem(32);
    color: var(--pir-label-color);
  }

}